<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss}
                %-5level
                %logger{36}
                [userId:%X{userId}]
                [req:%X{requestId:-}]
                [trace:%X{traceId:-}]
                [span:%X{spanId:-}]
                [%X{method} %X{path}]
                - %msg%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="com.app.taskmanager" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="com.app.taskmanager" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>